* {
  background-color: white;
  box-sizing: border-box;
}

body,
.dropdown-menu-btn {
  --site-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: stretch;

  width: var(--site-width);
  height: 40px;
}

.border {
  border: 2px solid black;
  border-radius: 4px;
}

.menu > .title {
  align-self: center;
  margin-left: 20px;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu-btn {
  border: none;
  height: 100%;
}

.dropdown-menu {
  display: none;
  width: 75px;
  position: absolute;
  right: -2px;
}

.dropdown-menu.visible {
  --dropdown-item-size: 4px;

  display: flex;
  flex-direction: column;
}

.dropdown-menu > button {
  width: 100%;
  height: 36px;
  border: none;
}

.carousel {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 250px 40px;
  width: var(--site-width);
  margin-top: 8px;
}

.carousel > * {
  border: solid 1px black;
}

.left,
.right {
  grid-row: 1 / span 2;
}

.frame {
  grid-row: 1;
  position: relative;
  overflow: hidden;
}

.images {
  position: absolute;
  display: flex;
  height: 100%;
  background-color: paleturquoise;
}
